
//= require normalize.css/normalize

// Imports
@import "mixins";
@import "vars";

// Google Fonts
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300);

// Color Palette 1 -> 4 = Dark -> Light
$green1: #107E60;
$green2: #1BB187;
$green3: #20CB9A;
$green4: #57FED2;

$green_gray1: #262728;
$green_gray2: #343D41;
$green_gray3: #697074;
$green_gray4: #B5BDC1;

$blue1: #165B7D;
$blue2: #3798C8;
$blue3: #51B9EC;
$blue4: #7ED3FD;

$blue_gray1: #303D4E;
$blue_gray2: #636E7E;
$blue_gray3: #BEC3CB;
$blue_gray4: #DEE1E5;
$blue_gray5: #F4F5F7;

// New Post Input Placeholder Color
$new_post_input_placeholder_color: #9CDACA;

// Top Nav
$topnav_bg: #262729;
$nav_icon_top_offset: 20px;

// Icon Logo
$icon_logo_width: 27px;
$icon_logo_height: 25px;
$icon_logo_left_offset: 100px;

// Text Logo
$text_logo_left_offset: 13px;
$text_logo_top_offset: 6px;
$text_logo_color: #676B74;

// New Message Icon
$new_message_width: 31px;
$new_message_height: 26px;
$new_message_right_offset: 395px;

// Avatars
$avatar_width: 30px;
$avatar_height: 30px;

// Chevron Icons
$chevron_down_width: 7px;
$chevron_down_height: 4px;

// Search Icon
$search_icon_width: 16px;
$search_icon_height: 16px;

// New Post
$new_post_width: 575px;
$new_post_height: 156px;
$new_post_top_offset: 123px;

// Add Photo / Video Icons
$add_photo_video_icon_width: 18px;
$add_photo_video_icon_height: 13px;

// Sub Nav
$subnav_width: 575px;
$subnav_height: 32px;
$subnav_top_offset: 114px;

// Tile / List View Icons
$tile_list_view_icon_width: 9px;
$tile_list_view_icon_height: 9px;

// List Container
$list_container_width: 575px;
$list_container_top_offset: 425px;

// Play Button Icon
$play_btn_icon_width: 30px;
$play_btn_icon_height: 35px;

// Post Call To Action Icons
$post_cta_icon_width: 13px;
$post_cta_icon_height: 13px;

// Content Container
$content_container_top_offset: 425px;

// Footer
$footer_height: 130px;
// $footer_top_offset: 143px; // This is the measurement from the PSD
$footer_top_offset: 100px; // This is the measurement from invision prototype @ http://invis.io/5RU0VXJY

// Close Icon
$close_icon_width: 21px;
$close_icon_height: 21px;

// Modal
$modal_content_width: 575px;
$modal_content_height: 215px;
$modal_content_offset: 21px;

/* -------------------------- */
/*          Angular
/* -------------------------- */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* -------------------------- */
/*          General
/* -------------------------- */

* {
  font-family: "Open Sans";
}

// Temporary
body {
  background-color: white;

  // &.modal-open  {
  //   overflow: hidden;
  // }

}

.block {
  display: block; 
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
   color: $new_post_input_placeholder_color;
}

:-moz-placeholder { /* Firefox 18- */
   color: $new_post_input_placeholder_color;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $new_post_input_placeholder_color;  
}

:-ms-input-placeholder {  
   color: $new_post_input_placeholder_color;  
}

/* -------------------------- */
/*          Wrapper
/* -------------------------- */

.wrapper {

  &.modal-open  {
    overflow: hidden;
    @include blur(5px);
  }
  
}

/* -------------------------- */
/*          Topnav
/* -------------------------- */

.topnav {
  z-index: 5;
  position: fixed;
  top: 0;
  overflow: visible;
  height: $topnav_height; width: 100%;
  background-color: $topnav_bg;
  font-weight: 100;
}

.icon-logo {
  position: absolute;
  left: $icon_logo_left_offset;
  top: $nav_icon_top_offset;
  width: $icon_logo_width;
  height: $icon_logo_height;
  background: url('/icons/logo.png') no-repeat center;
  @include image-2x('/icons/logo@2x.png', $icon_logo_width, $icon_logo_height);
}

.text-logo  {
  position: absolute;
  left: $icon_logo_left_offset + $icon_logo_width + $text_logo_left_offset;
  top: $nav_icon_top_offset + $text_logo_top_offset;
  color: $green_gray3;
  font-family: 'ProximaNova';
  font-size: 18px;
}

.text-logo:after {
  content: 'social';
  color: $green_gray4;
}

.new-message {
  position: absolute;
  right: $new_message_right_offset;
  top: $nav_icon_top_offset;
  width: $new_message_width;
  height: $new_message_height;
  cursor: pointer;
  background: url('/icons/new-message.png') no-repeat center;
  @include image-2x('/icons/new-message@2x.png', $new_message_width, $new_message_height);
}

// TODO: Extract these variables?
.search-input {
  position: absolute;
  right: 171px;
  top: 15px;
  background-color: $topnav_bg;
  border: 1px solid $green_gray2;
  width: 198px;
  height: 26px;
  @include border-radius(4px);
}

.search-icon {
  position: absolute;
  right: 180px;
  top: 22px;
  width: $search_icon_width;
  height: $search_icon_height;
  opacity: .4;
  background: url('/icons/search-icon.png') no-repeat center;
  @include image-2x('/icons/search-icon@2x.png', $search_icon_width, $search_icon_height);
}

.current-user-avatar {
  position: absolute;
  right: 108px;
  top: 15px;
  width: $avatar_width + 10px;
  height: $avatar_height;
  padding-right: 10px;
  cursor: pointer;
  background: url('/avatars/current_user_avatar.png') no-repeat center;
  @include image-2x('/avatars/current_user_avatar.png', $avatar_width, $avatar_height);
}

.open-menu  {
  position: absolute;
  top: 29px;
  right: 101px;
  width: $chevron_down_width;
  height: $chevron_down_height;
  cursor: pointer;
  background: url('/icons/chevron-down.png') no-repeat center;
  @include image-2x('/icons/chevron-down@2x.png', $chevron_down_width, $chevron_down_height);
}

.topnav .dropdown-menu  {
  position: absolute;
  top: 55px;
  right: 84px;
  width: 96px;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: $blue_gray5;
  @include border-radius(3px);

  &::before {
    position: absolute;
    top: -4px;
    right: 16px;
    width: 0; 
    height: 0;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $blue_gray5;
  }

  li {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 8px 0px 8px 20px;
    border-bottom: 1px solid $blue_gray4;
  }

  li:last-child {
    border: none;
  }

}

/* -------------------------- */
/*          Hero
/* -------------------------- */

.hero {
  width: 100%;
  min-height: 425px;
  position: absolute;
  top: 0;
  background: url('/hero.png');
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
}

/* -------------------------- */
/*          New Post
/* -------------------------- */

form.new-post {
  width: $new_post_width;
  height: $new_post_height;
  @include border-radius(3px);
  position: relative;
  margin: 0 auto;
  opacity: .7;
  background-color: $green2;
  margin-top: $new_post_top_offset;

  input {
    width: $new_post_width - (30 * 2);
    position: absolute;
    left: 29px;
    top: 45px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    font-weight: 100;
    border: none;
    background-color: inherit;
    color: white;
  }

  .add-media  {
    width: $add_photo_video_icon_width;
    height: $add_photo_video_icon_height;
    bottom: 29px;
    font-size: 14px;
    opacity: .7;
  }

  .add-photo {
    position: absolute;
    left: 29px;
    background: url('/icons/add-photo-icon.png') no-repeat center;
    @include image-2x('/icons/add-photo-icon@2x.png', $add_photo_video_icon_width, $add_photo_video_icon_height);
  }

  .add-video {
    position: absolute;
    left: 170px;
    background: url('/icons/add-video-icon.png') no-repeat center;
    @include image-2x('/icons/add-video-icon@2x.png', $add_photo_video_icon_width, $add_photo_video_icon_height);
  }

  .add-media-label {
    font-size: 14px;
    position: absolute;
    bottom: 29px;
    height:  $add_photo_video_icon_height;
    line-height: 16px;
    color: $new_post_input_placeholder_color;
    font-weight: 100;
    letter-spacing: .75px;

    &.add-photo-label {
      left: 29px + 9px + $add_photo_video_icon_width;
    }

    &.add-video-label {
      left: 170px + 9px + $add_photo_video_icon_width;
    }

  }
}

/* -------------------------- */
/*          Sub Nav
/* -------------------------- */

.subnav {
  width: $subnav_width;
  height: $subnav_height;
  position: relative;
  margin: 0 auto;
  margin-top: $subnav_top_offset;

  .nav-item {
    display: inline-block;
    color: white;
    opacity: .7;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 88px;
    text-align: center;
    height: 24.5px;

    &.selected {
      opacity: 1;
      border-bottom: 3px solid #1FCB9A;
    }

    &:not(.selected)  {
      cursor: pointer;
    }

  }

  .toggle-post-layout {
    position: absolute;
    top: 8px;
    opacity: .7;
    width: $tile_list_view_icon_width;
    height: $tile_list_view_icon_height;

    &.selected {
      opacity: 1;
    }

    &:not(.selected)  {
      cursor: pointer;
    }

    &.list-view {
      right: 15px + $tile_list_view_icon_width;
      background: url('/icons/list-view-icon.png') no-repeat center;
      @include image-2x('/icons/list-view-icon@2x.png', $tile_list_view_icon_width, $tile_list_view_icon_height);
    }

    &.tile-view {
      right: 0;
      background: url('/icons/tile-view-icon.png') no-repeat center;
      @include image-2x('/icons/tile-view-icon@2x.png', $tile_list_view_icon_width, $tile_list_view_icon_height);
    }

  }

}

/* -------------------------- */
/*       List Container
/* -------------------------- */

.content-container {
  margin-top: $content_container_top_offset;
  top: $list_container_top_offset;
  width: 100%;
}

.list-container {
  width: $list_container_width;
  margin: 0 auto;
  margin-top: 50px + $content_container_top_offset;
}


/* -------------------------- */
/*         List View
/* -------------------------- */


.list-container .post {
  // TODO: On toggle between tile and list views
}

/* -------------------------- */
/*         Tile View
/* -------------------------- */

// TODO: Placeholder for tile view

/* -------------------------- */
/*  Common Posts / Comments 
/* -------------------------- */

.avatar {
  position: absolute;
  left: 26px;
  top: 26px;
}

.name {
  position: absolute;
  left: 85px;
  top: 22px;
  color: #3F454D;
  font-weight: 100;
}

.content {
  padding: 50px 55px 28px 85px;
  font-size: 14px;
  font-weight: 100;
  color: #70767F;

  &.expandable {
    padding-bottom: 62px;
  }

}

.calls-to-action {
  position: absolute;
  right: 20px;
  top: 24px;
  font-size: 14px;
  color: #CBCFD6;
  font-weight: 100;

  .call-to-action {
    margin-left: 23px;
    display: inline-block;

    &.call-to-action-icon {
      width: $post_cta_icon_width;
      height: $post_cta_icon_height;
      cursor: pointer;
    }

    &.reply-cta-icon {
      background: url('/icons/reply-icon.png') no-repeat center;
      @include image-2x('/icons/reply-icon@2x.png', $post_cta_icon_width, $post_cta_icon_height);
    }

    &.like-cta-icon {
      background: url('/icons/like-icon.png') no-repeat center;
      @include image-2x('/icons/like-icon@2x.png', $post_cta_icon_width, $post_cta_icon_height);
    }

  }

}

/* -------------------------- */
/*         Post
/* -------------------------- */

.post {
  border: 1px solid $blue_gray4;
  @include border-radius(4px);
  position: relative;
  margin-bottom: 25px;

  // TODO: Refactor these classes
  &.expanded {
    border-bottom: none;
    margin-bottom: 0;
    @include border-bottom-left-radius(0);
    @include border-bottom-right-radius(0);
  }

  &.photo-post {
    border-bottom: none;
    margin-bottom: 0;
    @include border-bottom-left-radius(0);
    @include border-bottom-right-radius(0);
  }

  &.video-post {
    border-bottom: none;
    margin-bottom: 0;
    @include border-bottom-left-radius(0);
    @include border-bottom-right-radius(0);
  }

  .expand-post {
    position: absolute;
    left: 85px;
    bottom: 24px;
    font-size: 10px;
    font-weight: 100;
    color: #BBBFC8;
    cursor: pointer;
  }

  .collapse-post  {
    position: absolute;
    left: 85px;
    bottom: 24px;
    font-size: 10px;
    font-weight: 100;
    color: #BBBFC8;
    cursor: pointer;
    display: none;
  }

  .expand-chevron {
    position: absolute;
    left: 132px;
    bottom: 28.5px;
    width: $chevron_down_width;
    height: $chevron_down_height;
    background: url('/icons/chevron-down.png') no-repeat center;
    @include image-2x('/icons/chevron-down@2x.png', $chevron_down_width, $chevron_down_height);

    &.open {
      @include rotate(180deg);
    }

  }

}

/* -------------------------- */
/*     Post Comments
/* -------------------------- */

.comment-container {
  background-color: #F9FAFB;
  position: relative;
  margin-bottom: 25px;
  display: none;
}

.comment  {
  border: 1px solid $blue_gray4;
  border-bottom: none;
  position: relative;

  .content {
    padding-bottom: 28px;
  }

}

.new-comment {

  padding: 26px 25px 26px 25px;
  border: 1px solid $blue_gray4;
  @include border-bottom-left-radius(4px);
  @include border-bottom-right-radius(4px);

  ::-webkit-input-placeholder {
   color: #DEE1E5;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: #DEE1E5;  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: #DEE1E5;  
  }

  :-ms-input-placeholder {  
    color: #DEE1E5;  
  }

  input {
    font-size: 14px;
    color: #70767F;
    padding: 5px;
    width: 525px;  
    display: block;
    margin: 0 auto;
    border: 1px solid #DEE1E5;
    @include border-radius(3px);
  }

}

/* -------------------------- */
/*     Post Photos
/* -------------------------- */

.photo-container {
  margin-bottom: 25px;
}

/* -------------------------- */
/*     Post Videos
/* -------------------------- */

.video-container {
  margin-bottom: 25px;
  position: relative;

  .play-circle {
    height: 100px;
    width: 100px;
    border: 4px solid white;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    @include border-radius(50%);
  }

  .play-triangle {
    cursor: pointer;
    position: absolute;
    top: 134px;
    left: 10px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: $play_btn_icon_width;
    height: $play_btn_icon_height;
    background: url('/icons/play-btn-icon.png') no-repeat center;
    @include image-2x('/icons/play-btn-icon@2x.png', $play_btn_icon_width, $play_btn_icon_height);
  }

}

/* -------------------------- */
/*        Footer
/* -------------------------- */

.footer {
  height: $footer_height;
  margin-top: $footer_top_offset;
  border-top: 1px solid $blue_gray4;

  ul {
    list-style-type: none;
    text-align: center;

    li {
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      letter-spacing: .5px;
      color: $green2;
      cursor: pointer;
      margin: 0 14px 0 14px;
    }

    li:last-child {
      cursor: default;
      color: #8D9198;
    }

  }

}

/* -------------------------- */
/*        Modal
/* -------------------------- */

.modal-overlay  {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: .8;
  z-index: 99;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.modal-wrapper  {
  position: relative;
  width: $modal_content_width;
  height: $modal_content_height;
  padding: $modal_content_offset;
  margin: 0 auto;
  margin-top: 162px;
  z-index: 999;

  .close-modal {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: $close_icon_width;
    height: $close_icon_height;
    background: url('/icons/close-icon.png') no-repeat center;
    @include image-2x('/icons/close-icon@2x.png', $close_icon_width, $close_icon_height);
  }

  .modal-content  {
    background-color: $blue_gray4;
    height: $modal_content_height;
    width: $modal_content_width;
    margin: 0 auto;
    @include border-radius(3px);
  }

}



















