@font-face{
  font-family: ProximaNova;
  font-style: normal;
  src: url("/assets/ProximaNova-Light.otf") format("opentype");
  font-weight: 100;
}

@font-face{
  font-family: ProximaNova;
  font-style: normal;
  src: url("/assets/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
}
